/*CSS PROY TIENDA LIZARD_DESING*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* ESTILOS GENERALES */

body{
    /*border: solid pink;*/
    background-color: #8AE2FB;
}


/* ESTILOS HEADER */

.header{
    /*border: solid magenta;*/
}


/* ESTILOS HEADER > MENÚ */

.headerMenu{
    /*border: solid yellow;*/
    width: 100vw;
    background-color: rgb(105, 164, 251);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 100;
}

.logoMarca{
    width: 10%;
}

.fondo-nav{
    background-color: rgb(105, 164, 251);
}

.botonBurger{
    background-color: white;
}

/* ESTILOS HEADER > MENÚ > SUBMENÚ */
.subMenu{
    border: solid whitesmoke;
    padding: 5px;
    background-color: rgb(105, 164, 251);
    border-radius: 15px;
}

.linkMenu, .navbar-nav li a{
    color: white;
}

.subMenu :hover{
    background-color:#8AE2FB;
    border-radius: 15px;
  }

/* ESTILOS HEADER > CARRUSEL */

.carrusel{
    /*border: solid black;*/
    /*margin-top: 50px;*/
}


h1{

}

.subTitleCarrusel1, .subTitleCarrusel2, .subTitleCarrusel3 {

}

/* ESTILOS DEL MAIN */


/* ESTILOS DEL MAIN > BOTÓN WSP*/

main{
    /*border: solid green;*/
    padding: 0.5rem;
    background-color:rgb(163, 199, 255);
}

.botonWsp{
    display: flex;
    position:fixed;
    width:3rem;
    height:3rem;
    bottom:50%;
    right:1%;
    background-color:#25d366;
    color:#FFF;
    border-radius:50%;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.logoMini{
    width: 2rem;
    border-radius: 50%;
}

.botonWsp img{
    width: 5rem;
    border-radius: 50%;
}

/* ESTILOS DEL MAIN > NEWS*/

.news{
    /*border: solid blue;*/
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:"newsTitle"
                        "newsSubtitle1"
                        "newsHijos1"
                        "newsSubtitle2"
                        "newsHijos2"
                        "newsSubtitle3"
                        "newsHijos3"
                        "newsSubtitle4"
                        "newsHijos4";
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.newsTitle{
    /*border: solid purple;*/
    grid-area: newsTitle;
    justify-self: left;
    padding-bottom: 1rem;
}

h2{
    font-size: 1.5rem;
}

h3{
    font-size: 1rem;
}

.news div h4{
    /*border: solid cyan;*/
    width: 90vw;
    text-align: center;
    font-size: 1rem;
    font-weight: bolder;
}

.news div img{
    padding-bottom: 0.5rem;
    width: 90vw;
    justify-items: center;
}

.newsSubtitle1{
    grid-area: newsSubtitle1;
}
.newsSubtitle2{
    grid-area: newsSubtitle2;
}
.newsSubtitle3{
    grid-area: newsSubtitle3;
}
.newsSubtitle4{
    grid-area: newsSubtitle4;
}

.newsHijos1{
    grid-area: newsHijos1;
    /*border: solid red;*/
}

.newsHijos2{
    grid-area: newsHijos2;
    /*border: solid red;*/
}

.newsHijos3{
    grid-area: newsHijos3;
    /*border: solid red;*/
}

.newsHijos4{
    grid-area: newsHijos4;
    /*border: solid red;*/
}




/* ESTILOS PAGES > PRODUCTOS */

.picsProdM{
    /*border: solid red;*/
    display: flex;
    align-items: center;
    height: 300px;
    }

.tutoriales{
    display: none;
}

.conocenos{
    display: flex;
    justify-content: center;
    align-items:flex-start;
}
.conocenos img{
    width: 20%; /*OJO: CAMBIAR RESPONSIVE*/
    align-items: center;
}

.productos img{
    height: 3rem;
}

.ofertas ul li{
    display: flex; 
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.ofertas img{
    height: 150px;
}

/* ESTILOS PAGES > FORMULARIO CONTACTO */


.contact1 {
    /*border: solid orange;*/
    width: 100%;
    min-height: 100%;
    padding: 15px;
  
    background-color: #009bff;    background-image: linear-gradient(to right, #0072ff , #00c6ff);
}

.container-contact1 {
    /*border: solid black;*/
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.contact1-pic {
    /*border: solid red;*/
    overflow:hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 40%;
}

.textoContacto p {
    /*border: solid pink;*/
	line-height: 1.7;
    font-weight: bold;
    padding-left: 1rem;
}

.textoContacto ul {
    /*border: solid slateblue;*/
}

.textoContacto ul li {
    list-style-type:circle;
}

.contact1-form {
    /*border: solid green;*/
    overflow:hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    padding: 2% 0%;
}

input {
	outline: none;
	border: none;
}

.textoContacto{
    padding-top: 2%;  
}

.contact1-pic img {
    max-width: 50%;
}

input.input1 {
    height: 50px;
    border-radius: 25px;
    padding: 0 30px;
}

input .input1 + .shadow-input1 {
    border-radius: 25px;
}
  
textarea.input1 {
    min-height: 150px;
    border-radius: 25px;
    padding: 12px 30px;
}

textarea.input1, .shadow-input1 {
    border-radius: 25px;
}
  
.wrap-input1 {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 20px;
}
  
.input1 {
    display: block;
    width: 100%;
    background: #e6e6e6;
    font-size: 15px;
    line-height: 1.5;
    color: #74b1ea;
}
  
.shadow-input1 {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 0px 0px;
    color: rgba(87,184,70, 0.5);
}
  
.container-contact1-form-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact1-form-btn {
    min-width: 193px;
    height: 50px;
    border-radius: 25px;
    background: #1327bd;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact1-form-btn:hover {
    background: #08b8d7;
}

button {
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

/* ESTILOS DEL FOOTER */

footer{
    /*border: solid yellow;*/
    display: flex;
    padding: 1rem;
    background-color: #8AE2FB;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

footer a img{
    width: 2rem;
    border-radius: 50%;
}

footer p{
    /*border: solid green;*/
    padding-right: 0.8rem;
}


/* MEDIA QUERIES*/

/* PARA MÓVILES */
@media only screen and (min-width:768px){

    .news{
        /*border: solid blue;*/
        padding: 0.5rem;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:"newsTitle newsTitle"
                            "newsSubtitle1 newsSubtitle2"
                            "newsHijos1 newsHijos2"                            "newsHijos2                          "newsHijos1 
                            "newsSubtitle3 newsSubtitle4"
                            "newsHijos3 newsHijos4";
        align-items: center;
        justify-content: center;
        justify-items: center;
    }

    .newsTitle{
        /*border: solid purple;*/
        justify-self: center;
        padding-bottom: 1rem;
    }

    .news div h4{
        /*border: solid cyan;*/
        width: 45vw;
    }

    .news div img{
        padding: 0.5rem 2rem;
        width: 45vw;
    }


}

/* PARA TABLET */
@media only screen and (min-width:1024px){

}

/* PARA ESCRITORIO */
@media screen and (min-width:1200px){

    .subTitleCarrusel1, .subTitleCarrusel2, .subTitleCarrusel3{
        display: none;
    }

    .header{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .mainNosotros{
        grid-template-rows: 0.5fr 1fr 0.3fr 0.3fr;
        grid-template-areas: "mainP mainP img img"
                             "imagen1 imagen2 imagen3 imagen4"
                             "parrafo parrafo parrafo parrafo"; 
    }

}